body {
    background-color: lightblue;
  }

.text {
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}

footer {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-color: #333;

}