body {
    background-color: lightblue;
    margin-bottom:60px;
  }

.text {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: x-large;

}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}

footer {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  background-color: rgb(10, 8, 8);
  color: #fff;
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;

}